<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Edit</th>
        </thead>
        <tbody>
            {% for stud in students %}
            <tr>
                <td>{{stud.name}}</td>
                <td>{{stud.age}}</td>
                <td>{{stud.email}}</td>
                <td><a href="/student_edit/{{stud.id}}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>